<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% block title %}
            Bible
        {% endblock title %}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    {% comment %} 
        load the path to static files and then the files to be loaded 
    {% endcomment %} 
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"/>
    {% load staticfiles %}
    {% comment %} custom style always after the cdn/css framework, so as not be overiden {% endcomment %} 
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />



</head>

<body>
    {% comment %} NAVIGATION MENU {% endcomment %}
    <div class="ui stackable container container inverted menu">
        <a class="item" href="{% url 'bible:index' %}">
            <i class="book inverted icon"></i>
            Books
        </a>

        <div class="right menu">
            {% if user.is_authenticated %}
                {% if perms.bible.add_book %}
                    <a class="item" href="{% url 'bible:book-add' %}">
                        <i class="plus inverted icon"></i>
                        Add Book
                    </a>
                {% endif %}
            {% endif %}
            <div class="ui dropdown simple item">
                Account
                <i class="dropdown icon"></i>
                <div class="menu">
                    {% if user.is_authenticated %}
                    <a href="{% url 'bible:logout'%}?next={{request.path}}" class="item">Log out, {{ user.get_username }}</a>
                    {% else %}
                    <a href="{% url 'bible:login' %}?next={{request.path}}" class="item">Log in</a>
                    {% endif %} {% comment %}
                    <a href="{% url 'bible:register' %}" class="item">Register</a> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
    {% comment %} NAVIGATION MENU END {% endcomment %}


    <div class="ui grid stackable container">

        <div class="four wide column">
            {% block leftColumn %}{% endblock leftColumn %} 
            {% block breadcrumbs %}
            {% comment %} <a href="{% url 'bible:index' %}">Bible</a> {% endcomment %}
            {% endblock breadcrumbs %}
        </div>

        <div class="twelve wide column">
            {% block body %}{% endblock body %}
        </div>

    </div>
    {% comment %} TODO REMOVE JQUERY AND USE VUE {% endcomment %} {% comment %}
    <script src="https://cdn.jsdelivr.net/npm/vue"></script> {% endcomment %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.js"></script>
    <script src="/static/bible.js"></script>
    <script src="/static/favorite.js"></script>

</body>

</html>