{% extends "bible/base.html" %}
{% block title %}
    Book details
{% endblock title %}


{% block leftColumn %}

    <div class="ui one cards">
        <div class="card">
            <a href="{% url 'bible:index' %}" class="image">
                <img src="{{ book.image.url }}">
            </a>
            <div class="content">
                <div class="header">{{ book.title }}</div>
                <div class="meta">
                    <div>{{ book.writer }}</div>
                </div>
            </div>
            
            <!-- BUTTON -->
            {% if user.is_authenticated %}
                <div class="content">

            <button class="ui button primary"
                    id="favbtn{{ book.id }}"
                    data-favorite="true"
                    onclick="favoriteBook()"
                >Favorite Book
            </button>
            <p></p>
            <button class="ui button secondary">Unfavor Book</button>



                </div>


                {# DEBUG #}
                <div class="content">
                    <h2>DEBUG</h2>
                    <ul>
                        <li>username: {{ user.username }}</li>
                        <li>user id: {{ user.id }}</li>
                        <li>book id: {{ book.id }}</li>
                    </ul>
                </div>
                
                <script>

                    function favoriteBook() {
                        console.log('favorite button clicked')
                        // note the trailing slash favorite/
                        var url = "./" + {{ book.id }} + "/favorite/";
                        
                        // what to pass to db
                        var json_data = {
                            'user_id': {{user.id}},
                            'obj_id': {{book.id}}
                        }

                        fetch(url, {
                            method: "put",
                            credentials: "same-origin",
                            headers: {
                                "X-CSRFToken": csrftoken,
                                "Accept": "application/json",
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify(json_data)
                        }).then(response => {
                            console.log('json_data passed succesfully to db ')
                            console.log('now passing json from FavoriteView  ')
                            return response.json();
                        }).then(data => {
                            console.log("data fetched succesfully from the favorite view, eg: ", data);
                            const favbtn = document.getElementById("favbtn{{ book.id }}")
                            favbtn.textContent = 'UnFavorite Book'
                            // TODO: CONDITIONAL LOGIC
                        }).catch(error => {
                            console.log("parsing failed", error);
                        });
                    }

                    
                </script>


                {% if perms.bible.add_chapter %}
                    <a class="item" href="{% url 'bible:chapter-create' book.id %}">
                        <div class="ui bottom attached button">
                            <i class="add icon"></i>
                                Add Chapters
                        </div>
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock leftColumn %}

{% block breadcrumbs %}
    {% comment %} {{ block.super }} <br>» Book: <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> {% endcomment %}
{% endblock %}


{% block body %}
{% comment %} CHAPTERS LIST {% endcomment %}
<div class="ui text container">
    <h2>CHAPTERS</h2>
    {% if book.chapter_set.all %}
        <div class="ui one cards">
            {% for chapter in book.chapter_set.all %}
            <div class="card">                
                    <div class="content">
                        <div class="header">
                            {% if user.is_authenticated %}
                                {% if perms.bible.change_chapter %}
                                    <a href="{% url 'bible:chapter-update' book.id chapter.id  %}" 
                                        class="ui compact icon right floated button">
                                        <i class="edit icon"></i>
                                    </a>
                                    <a onclick="fConfirm()" href="{% url 'bible:chapter-delete' book.id chapter.id %}"
                                        class="ui compact icon right floated button">
                                        <i class="trash icon"></i>
                                    </a>
                                    {% endif %}
                                {% endif %}
                            {{ chapter.number }}
                        </div>
                        <a href="{% url 'bible:chapter-detail' book.id chapter.id %}">
                            <div class="description">
                                {{ chapter.title }}
                            </div>
                        </a>
                    </div>
                
                </div>
                {% endfor %}
            </div>
    {% else %}
            <h2>No Chapters to display</h2>
    {% endif %}
    </div>
    
{% endblock body %}