{% extends "bible/base.html" %}

{% block title %}
    Κεφάλαια Βιβλίου
{% endblock title %}


{% block leftColumn %}

    <div class="ui one cards">
        <div class="card">
            <a href="{% url 'bible:index' %}" class="image">
                <img src="{{ book.image.url }}">
            </a>
            <div class="content">
                <div class="header">{{ book.title }}</div>
                <div class="meta">
                    <div>{{ book.writer }}</div>
                </div>
            </div>

            <!-- BUTTON -->
            {% if user.is_authenticated %}
                <div class="content">
                    <i class="star outline icon" 
                        id="favoriteStar{{ book.id }}"
                        onclick="favoriteBook()"
                        ></i>
                </div>


                {# DEBUG #}
                {% if user.is_superuser %}
                    <div class="content">
                        <h2>DEBUG</h2>
                        <ul>
                            <li>username: {{ user.username }}</li>
                            <li>user id: {{ user.id }}</li>
                            <li>book id: {{ book.id }}</li>
                            <li>favorite book: {{ favorite.obj_id }}</li>
                            <li>favorite user: {{ favorite.user_id }}</li>
                        </ul>
                    </div>
                {% endif %}

                <script>

                    const favstar = document.getElementById("favoriteStar{{ book.id }}") 

                    function favoriteBook() {
                        console.log('favorite button clicked')
                        // note the trailing slash favorite/
                        const url = "/book/{{ book.id }}/favorite/";
                        
                        // what to pass to db
                        let json_data = {
                            'user_id': {{user.id}},
                            'obj_id': {{book.id}}
                        }

                        let fetch_data = {
                            method: "put",
                            credentials: "same-origin",
                            headers: {
                                "X-CSRFToken": window.csrftoken,
                                "Accept": "application/json",
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify(json_data)
                        }

                        fetch(url, fetch_data)
                        .then(response =>   response.json())
                        .catch(error => {
                            console.log("favorite does not exist, create a new one", error);
                        });
                        
                        // toggle outside fetch because
                        // put creates error if db row does not exist
                        // so paint is not executed
                        // if placed in next then(), as we should...
                        favstar.classList.toggle("outline")
                    }
                    
                    function toggleFavorite(){
                        favstar.classList.toggle("outline")
                    }
                    
                    // update the favorite
                    document.addEventListener("DOMContentLoaded", function (event) {
                        if ("{{ favorite.id}}") {
                        toggleFavorite()
                        }
                    });

                    // ONLY TO BE USED ASYNC, IF NEEDED
                    /*
                    function isFavorite(){
                        console.log('isFavorite triggered')
                        // note the trailing slash favorite/
                        const url = "./" + {{ book.id }} + "/favorite/";
                        
                        // what to pass to db
                        let json_data = {
                            'user_id': {{user.id}},
                            'obj_id': {{book.id}}
                        }

                        let fetch_data = {
                            method: "get", //  GET
                            credentials: "same-origin",
                            headers: {
                                "X-CSRFToken": window.csrftoken,
                                "Accept": "application/json",
                                "Content-Type": "application/json"
                            },
                        }

                        fetch(url, fetch_data)
                        .then(response =>  {
                        
                            return response.json()
                        }).then(data=>{
                            console.log("favorite exists");
                            toggleFavorite() 
                        }).catch(error => {
                            console.log("favorite does not exist", error);
                            toggleFavorite()
                        });
                    }
                    */
                </script>


                {% if perms.bible.add_chapter %}
                    <a class="item" href="{% url 'bible:chapter-create' book.id %}">
                        <div class="ui bottom attached button">
                            <i class="add icon"></i>
                            Προσθήκη Κεφαλαίου
                        </div>
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock leftColumn %}

{% block body %}
    {# CHAPTERS LIST #}
    <div class="ui text container">
        {% if book.abstract_trempelas %}
            <div class="ui one cards">
                <div class="card">
                    <div class="ui top left attached label">ΕΙΣΑΓΩΓΗ
                    </div>
                    <div class="content">
                        {{ book.abstract_trempelas | truncatewords:50 }}
                        <p><a class="ui primary basic button right floated" href="{% url 'bible:book-abstract-trempelas' book.id %}">Περισσότερα...</a></p>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if book.chapter_set.all %}
            <div class="ui one cards">
                {% for chapter in book.chapter_set.all %}
                    <div class="card">
                        <div class="ui bottom right attached label">Κεφάλαιο {{ chapter.number }}</div>
                        <div class="content">
                            <div class="header">
                                {% if user.is_authenticated %}

                                    <!-- ==================FAVORITE CHAPTER STAR=================== -->
                                    <i class="star outline icon ui compact  right floated " 
                                        id="favChapterStar{{ chapter.id }}"
                                    ></i>
                                    
                                    <!-- FAVORITE CHECK -->
                                    <!--loop through chapterFavorite records -->
                                    <!--if fav raw exists, make star black -->
                                    {% for fav in favorite_chapters %}
                                        {% if fav.user_id == user.id and fav.obj_id == chapter.id %}
                                            <script>
                                                document.getElementById("favChapterStar{{ chapter.id }}").classList.remove("outline");
                                            </script>
                                        {% endif %} 
                                    {% endfor %}

                                    <script>
                                        // when document load display the status of star
                                        document.getElementById("favChapterStar{{ chapter.id }}").addEventListener('click', function(){

                                            // note the trailing slash favorite/
                                            fetch("/chapter/{{ chapter.id }}/favorite/", {
                                                    method: "put",
                                                    credentials: "same-origin",
                                                    headers: {
                                                        "X-CSRFToken": window.csrftoken,
                                                        "Accept": "application/json",
                                                        "Content-Type": "application/json"
                                                    },
                                                    body: JSON.stringify({
                                                        "user_id" : {{ user.id }},
                                                        "obj_id" : {{ chapter.id }}
                                                    })
                                                })
                                                .then(response => response.json())
                                                .catch(error => {
                                                    console.log("favorite does not exist, create a new one", error);
                                                });

                                            // toggle outside fetch because
                                            // put creates error if db row does not exist
                                            // so paint is not executed
                                            // if placed in next then(), as we should...
                                            document.getElementById("favChapterStar{{ chapter.id }}").classList.toggle("outline")
                                        })

                                    </script>
                                    <!-- ==================FAVORITE END=================== -->
                                    
                                    <!--...and if the user has edit rights -->
                                    {% if perms.bible.change_chapter %}
                                        <a href="{% url 'bible:chapter-update' book.id chapter.id %}"
                                            class="ui compact icon right floated button">
                                            <i class="edit icon"></i>
                                        </a>
                                        <a href="{% url 'bible:chapter-delete' book.id chapter.id %}"
                                            class="ui compact icon right floated button">
                                            <i class="trash icon"></i>
                                        </a> 
                                    {% endif %}
                                {% endif %}
                                {{ chapter.number }}
                            </div>
                            <a href="{% url 'bible:chapter-detail' book.id chapter.id %}">
                                <div class="description">
                                    {{ chapter.title }}
                                </div>
                            </a>
                        </div>

                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h2>Δεν υπάρχουν κεφάλαια για το βιβλίο αυτό.</h2>
                {% if perms.bible.add_chapter %}
                    <a href="{% url 'bible:chapter-create' book.id %}">
                            Ευκαιρία να προσθέσετε νέο κεφάλαιο!
                    </a>
                {% endif %}
        {% endif %}
    </div>

{% endblock body %}}