{% extends "bible/base.html" %}
{% block title %}
    Book details
{% endblock title %}


{% block leftColumn %}

    <div class="ui one cards">
        <div class="card">
            <a href="{% url 'bible:index' %}" class="image">
                <img src="{{ book.image.url }}">
            </a>
            <div class="content">
                <div class="header">{{ book.title }}</div>
                <div class="meta">
                    <div>{{ book.writer }}</div>
                </div>
            </div>
            
            <!-- BUTTON -->
            {% if user.is_authenticated %}
                <div data-id="{{ book.id }}" data-type="book" data-action="favorite" title="Favorites">
                    <span class=" star">
                        {% if book.book_is_favorited  %}
                            it is favorited
                            <i class="empty star icon"></i>
                        {% else %}
                            not favorited
                            <i class="star icon"></i>
                        {% endif %}
                    </span>
                    <span data-count="favorite">{{ is_favorited }}</span>
                </div>

                {% if perms.bible.add_chapter %}
                    <a class="item" href="{% url 'bible:chapter-create' book.id %}">
                        <div class="ui bottom attached button">
                            <i class="add icon"></i>
                                Add Chapters
                        </div>
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock leftColumn %}

{% block breadcrumbs %}
    {% comment %} {{ block.super }} <br>» Book: <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> {% endcomment %}
{% endblock %}


{% block body %}
{% comment %} CHAPTERS LIST {% endcomment %}
<div class="ui text container">
    <h2>CHAPTERS</h2>
    {% if book.chapter_set.all %}
        <div class="ui one cards">
            {% for chapter in book.chapter_set.all %}
            <div class="card">                
                    <div class="content">
                        <div class="header">
                            {% if user.is_authenticated %}
                                {% if perms.bible.change_chapter %}
                                    <a href="{% url 'bible:chapter-update' book.id chapter.id  %}" 
                                        class="ui compact icon right floated button">
                                        <i class="edit icon"></i>
                                    </a>
                                    <a onclick="fConfirm()" href="{% url 'bible:chapter-delete' book.id chapter.id %}"
                                        class="ui compact icon right floated button">
                                        <i class="trash icon"></i>
                                    </a>
                                    {% endif %}
                                {% endif %}
                            {{ chapter.number }}
                        </div>
                        <a href="{% url 'bible:chapter-detail' book.id chapter.id %}">
                            <div class="description">
                                {{ chapter.title }}
                            </div>
                        </a>
                    </div>
                
                </div>
                {% endfor %}
            </div>
    {% else %}
            <h2>No Chapters to display</h2>
    {% endif %}
    </div>

    
{% endblock body %}