{% extends "bible/base.html" %}
{% block title %}
    Κεφάλαιο {{chapter.number}}
{% endblock title %}


{% block leftColumn %}
    <aside class="ui dividing">
        <div class="ui sticky top">
    
    
            {# BOOK #}
            <div class="ui styled accordion" style="margin-top:60px;">
                <div class="title active">
                    <i class="dropdown icon  "></i>
                    ΒΙΒΛΙΟ
                </div>
    
                <div class="content active ui card">
                    <div class="image">
                        <img src="{{ book.image.url }}">
                    </div>
                    <div class="header">{{ book.title }}</div>
                    <div class="meta">
                        <div>
                            {{ book.writer }}
                        </div>
                    </div>
                </div>
            </div>
    
            <br />
            {# CHAPTER DETAILS  #}
            <div>
                <div class="ui styled accordion">
                    <div class="title">
                        <i class="dropdown icon"></i>
                        ΛΕΠΤΟΜΕΡΕΙΕΣ ΚΕΦΑΛΑΙΟΥ
                    </div>
    
                    <div class="content">
                        <h3>ΚΕΦΑΛΑΙΟ {{chapter.number}}</h3>
                        <div class="meta">
                            <div>{{ chapter.title }}</div>
                        </div>
    
                        {% if user.is_authenticated %}
                        {# FAVORITE #}
                        <div class="content">
                            <p style="text-align: right;">
                                <i class="ui star outline icon floated right" id="favChapter{{ chapter.id }}"
                                    onclick="favoriteChapter()"></i>
                            </p>
                        </div>
    
                        {# TAGS #}
                        {% if chapter.tags.all %}
                        <div class="content">
                            {% for tag in chapter.tags.all %}
                            <div class="ui label mini right floated">
                                {{ tag.name }}
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
    
    
                <!--======================== FAVORITE ==================-->
                <script>

                    const favstar = document.getElementById("favChapter{{ chapter.id }}")

                    function favoriteChapter() {
                        console.log('favorite button clicked')
                        // note the trailing slash favorite/
                        const url = "/chapter/{{ chapter.id }}/favorite/";

                        // what to pass to db
                        let json_data = {
                            'user_id': {{ user.id }
                    },
                    'obj_id': { { chapter.id } }
                            }

                    let fetch_data = {
                        method: "put",
                        credentials: "same-origin",
                        headers: {
                            "X-CSRFToken": window.csrftoken,
                            "Accept": "application/json",
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(json_data)
                    }

                    fetch(url, fetch_data)
                        .then(response => response.json())
                        .catch(error => {
                            console.log("favorite does not exist, create a new one", error);
                        });

                    // toggle outside fetch because
                    // put creates error if db row does not exist
                    // so paint is not executed
                    // if placed in next then(), as we should...
                    favstar.classList.toggle("outline")
                        }

                    function toggleFavorite() {
                        favstar.classList.toggle("outline")
                    }

                    // update the favorite
                    document.addEventListener("DOMContentLoaded", function (event) {
                        if ("{{ favorite.id }}") {
                            toggleFavorite()
                        }
                    });

                </script>
                <!--======================== FAVORITE END ===============-->
                <br />
    
                {# CHAPTERS NAVIGATION #}
                <div class="ui styled accordion">
                    {% for chapterX in book.chapter_set.all %}
                    <div class="title {% if chapterX.number == chapter.number %} active {% endif %} ">
                        <i class="dropdown icon"></i>
                        ΚΕΦΑΛΑΙΟ {{chapterX.number}}
                    </div>
                    <div class="content {% if chapterX.number == chapter.number %} active {% endif %} ">
                        <a href="{% url 'bible:chapter-detail' book.id chapterX.id %}">
                            {{ chapterX.title }}
                            {# <a href="{{ book.get_absolute_url }}/chapter/{{ next_chapter }}">next chapter</a> #}
                        </a>
                    </div>
                    {% endfor %}
                </div>
    
                <p></p>
            </div>
        </div>
    </aside>

{% endblock leftColumn %}


{% block body %}

{# MAIN BODY #}
<main class="ui text container">
    
    {# RIGHT RAIL #}
    <div class="ui dividing right rail mobile hidden tablet hidden" >
        <div class="ui sticky top" >
    
            {% if user.is_authenticated %}
                
                {# BUTTON ADD CHAPTER #}
                {% if perms.bible.add_chapter %}
                    <a class="item" href="{% url 'bible:chapter-create' book.id %}">
                        <div class="ui primary button" style="margin:60px 0 1rem">
                            <i class="add icon"></i>
                            Προσθήκη Κεφαλαίου
                        </div>
                    </a>
                {% endif %}
                
                {# ADD VERSE BUTTON#}
                {% if perms.bible.add_verse %}
                    <a class="item" href="{% url 'bible:verse-create' book.id chapter.id %}">
                        <div class="ui primary button">
                            <i class="add icon"></i>
                            Προσθήκη στίχου
                        </div>
                    </a>
                    <p></p>
                {% endif %}
            {% endif %}                
    
            <div class="ui vertical following fluid accordion text menu" >
                {% for verseX in chapter.verse_set.all %}
                    <div class="title">
                        <i class="dropdown icon"></i>
                        ΣΤΙΧΟΣ {{verseX.number}}
                    </div>
                    <div class="content menu ">
                        <a class="item" href="#verse{{ verseX.number }}"> {{ verseX.original_text }}</a>
                    </div>
                {% endfor %}
            </div>
    
        </div>
    </div>


    {# BREADCRUMB #}
    <div class="ui breadcrumb message ">
        <a class="section" href="{{ book.get_absolute_url }}">{{ book.title }}</a>
        <i class="right angle icon divider"></i>

        <div class="section active">ΚΕΦΑΛΑΙΟ {{ chapter.number }}</div>

    </div>

    
    {# <H1>VERSES</H1> #}
    {% if chapter.verse_set.all %}
        <div id="chapter-list" class="ui divided items">
            {% for verse in chapter.verse_set.all %}
                <div class="item" id="verse{{ verse.number }}">
                    <div class="content stackable ui grid">
                        <div class="ui grid stackable">
                            {# NUMBER COLUMN #}
                            <div class="one wide column large-number">
                                {{ verse.number }}
                            </div>

                            {# ORIGINAL TEXT COLUMN #}
                            <div class="seven wide column">
                                <a class="original-text column" href="{% url 'bible:verse-detail' book.id chapter.id verse.id %}">
                                    <p>{{ verse.original_text }}</p>
                                </a>
                            </div>

                            {# TRANSLATION COLUMN #}
                            <div class="seven wide column">
                                <a class="greek-translation column" href="{% url 'bible:verse-detail' book.id chapter.id verse.id %}">
                                    <p><em>{{ verse.greek_translation }}</em></p>
                                </a>
                            </div>
                            
                            <div class="one wide column">
                                {% if user.is_authenticated %}

                                    <!-- ==================FAVORITE CHAPTER STAR=================== -->
                                    <i class="star outline large icon ui compact right floated" style="margin: 0.5rem" 
                                        id="favVerseStar{{ verse.id }}"
                                    ></i>
                                    
                                    <!-- FAVORITE CHECK -->
                                    <!--loop through chapterFavorite records -->
                                    <!--if fav raw exists, make star black -->
                                    {% for fav in favorite_verses %}
                                        {% if fav.user_id == user.id and fav.obj_id == verse.id %}
                                            <script>
                                                document.getElementById("favVerseStar{{ verse.id }}").classList.remove("outline");
                                            </script>
                                        {% endif %} 
                                    {% endfor %}

                                    <script>
                                        // when document load display the status of stars
                                        document.getElementById("favVerseStar{{ verse.id }}").addEventListener('click', function(){

                                            // note the trailing slash favorite/
                                            fetch("/verse/{{ verse.id }}/favorite/", {
                                                    method: "put",
                                                    credentials: "same-origin",
                                                    headers: {
                                                        "X-CSRFToken": window.csrftoken,
                                                        "Accept": "application/json",
                                                        "Content-Type": "application/json"
                                                    },
                                                    body: JSON.stringify({
                                                        "user_id" : {{ user.id }},
                                                        "obj_id" : {{ verse.id }}
                                                    })
                                                })
                                                .then(response => response.json())
                                                .catch(error => {
                                                    console.log("favorite does not exist, create a new one", error);
                                                });

                                            // toggle outside fetch because
                                            // put creates error if db row does not exist
                                            // so paint is not executed
                                            // if placed in next then(), as we should...
                                            document.getElementById("favVerseStar{{ verse.id }}").classList.toggle("outline")
                                        })

                                    </script>
                                    <!-- ==================FAVORITE END=================== -->


                                    {% if perms.bible.change_verse %}
                                        <a href="{% url 'bible:verse-update' book.id chapter.id verse.id  %}" 
                                            class="ui compact icon right floated" style="margin: 0.5rem 0">
                                            <i class="edit icon bordered inverted blue"></i>
                                        </a>
                                        <a href="{% url 'bible:verse-delete' book.id chapter.id verse.id  %}" 
                                            class="ui compact icon right floated" style="margin: 0.5rem 0">
                                            <i class="trash icon bordered inverted red"></i>
                                        </a>
                                    {% endif %}
                                {% endif %}

                            </div>



                        </div>

                    </div>

                    {# TAGS #}
                    {% if verse.tags.all %}
                        <div class="extra content">
                            {% for tag in verse.tags.all %}
                                <div class="ui label mini">
                                    {{ tag.name }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h2>Δεν υπάρχουν στίχοι για το κεφάλαιο αυτό.</h2>
        {% if perms.bible.add_verse %}
            <a href="{% url 'bible:verse-create' book.id chapter.id %}">
                    Ευκαιρία να προσθέσετε νέο στίχο!
            </a>
        {% endif %}
    {% endif %}

    {# BREADCRUMB #}
    <div class="ui container three steps">
        <a class="step" href="{{ book.get_absolute_url }}">
            <i class="book icon"></i>
            <div class="content">
                <div class="title">Βιβλίο</div>
                <div class="description">{{ book.title }}</div>
            </div>
        </a>
        <div class="active step">
            <i class="file alternate outline icon"></i>
            <div class="content">
                <div class="title">Κεφάλαιο</div>
                <div class="description">{{ chapter.number }}</div>
            </div>
        </div>
        <div class="disabled step">
            <i class="list ol icon"></i>
            <div class="content">
                <div class="title">Στίχος</div>
            </div>
        </div>
    </div>



</main>

{% endblock body %}