{% extends "bible/base.html" %}
{% block title %}
    Κεφάλαιο {{chapter.number}}
{% endblock title %}

{% block leftColumn %}
    <aside class="ui one cards">
        <div class="card">
            <div class="content">
                <div class="header">ΚΕΦΑΛΑΙΟ {{chapter.number}}</div>
                <div class="meta">
                    <div>{{ chapter.title }}</div>
                </div>
            </div>
            <div class="extra content">
                <i class="book icon"></i>
                {{chapter.book}}
            </div>
            <!-- BUTTON -->
            {% if user.is_authenticated %}

                <!--======================== FAVORITE ==================-->
                <div class="content">
                    <i class="star outline icon" 
                        id="favChapter{{ chapter.id }}"
                        onclick="favoriteBook()"
                        
                    ></i>
                </div>
        
        
                {# DEBUG #}
                {% if user.is_superuser %}
                <div class="content">
                    <h2>DEBUG</h2>
                    <ul>
                        <li>username: {{ user.username }}</li>
                        <li>user id: {{ user.id }}</li>
                        <li>chapter id: {{ chapter.id }}</li>
                        <li>favorite chapter: {{ favorite.obj_id }}</li>
                        <li>favorite user: {{ favorite.user_id }}</li>
                    </ul>
                </div>
            {% endif %}
            
            <script>

                const favstar = document.getElementById("favChapter{{ chapter.id }}") 

                function favoriteBook() {
                    console.log('favorite button clicked')
                    // note the trailing slash favorite/
                    const url = "/chapter/{{ chapter.id }}/favorite/";
                    
                    // what to pass to db
                    let json_data = {
                        'user_id': {{user.id}},
                        'obj_id': {{chapter.id}}
                    }

                    let fetch_data = {
                        method: "put",
                        credentials: "same-origin",
                        headers: {
                            "X-CSRFToken": window.csrftoken,
                            "Accept": "application/json",
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(json_data)
                    }

                    fetch(url, fetch_data)
                    .then(response =>   response.json())
                    .catch(error => {
                        console.log("favorite does not exist, create a new one", error);
                    });
                    
                    // toggle outside fetch because
                    // put creates error if db row does not exist
                    // so paint is not executed
                    // if placed in next then(), as we should...
                    favstar.classList.toggle("outline")
                }
                
                function toggleFavorite(){
                    favstar.classList.toggle("outline")
                }
                
                // update the favorite
                document.addEventListener("DOMContentLoaded", function (event) {
                    if ("{{ favorite.id }}") {
                    toggleFavorite()
                    }
                });

            </script>            
            <!--======================== FAVORITE END ===============-->
            
                {% if perms.bible.add_verse %}
                    <a class="item" href="{% url 'bible:verse-create' book.id chapter.id %}">
                        <div class="ui bottom attached button">
                            <i class="add icon"></i>
                            Προσθήκη στίχου
                        </div>
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </aside>


{% endblock leftColumn %}


{% block body %}
    {% block breadcrumbs %}
        <div class="ui text container segment">
                Βιβλίο: <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
            <i class="right angle icon divider"></i>
            <strong>Κεφάλαιο: {{ chapter.number }} </strong>
        </div>
    {% endblock %}

    <main class="ui text container">
        {# <H1>VERSES</H1> #}
        {% if chapter.verse_set.all %}
            <div class="ui one cards">
                {% for verse in chapter.verse_set.all %}
                    <div class="card">
                        <div class="content two column stackable ui grid">
                            <div class="ui bottom right attached label">
                                Στίχος {{ verse.number }}
                            </div>
                            <div class="header two column row">
                                {% if user.is_authenticated %}

                                    <!-- ==================FAVORITE CHAPTER STAR=================== -->
                                    <i class="star outline icon ui compact right floated " 
                                        id="favVerseStar{{ verse.id }}"
                                    ></i>
                                    
                                    <!-- FAVORITE CHECK -->
                                    <!--loop through chapterFavorite records -->
                                    <!--if fav raw exists, make star black -->
                                    {% for fav in favorite_verses %}
                                        {% if fav.user_id == user.id and fav.obj_id == verse.id %}
                                            <script>
                                                document.getElementById("favVerseStar{{ verse.id }}").classList.remove("outline");
                                            </script>
                                        {% endif %} 
                                    {% endfor %}

                                    <script>
                                        // when document load display the status of stars
                                        document.getElementById("favVerseStar{{ verse.id }}").addEventListener('click', function(){

                                            // note the trailing slash favorite/
                                            fetch("/verse/{{ verse.id }}/favorite/", {
                                                    method: "put",
                                                    credentials: "same-origin",
                                                    headers: {
                                                        "X-CSRFToken": window.csrftoken,
                                                        "Accept": "application/json",
                                                        "Content-Type": "application/json"
                                                    },
                                                    body: JSON.stringify({
                                                        "user_id" : {{ user.id }},
                                                        "obj_id" : {{ verse.id }}
                                                    })
                                                })
                                                .then(response => response.json())
                                                .catch(error => {
                                                    console.log("favorite does not exist, create a new one", error);
                                                });

                                            // toggle outside fetch because
                                            // put creates error if db row does not exist
                                            // so paint is not executed
                                            // if placed in next then(), as we should...
                                            document.getElementById("favVerseStar{{ verse.id }}").classList.toggle("outline")
                                        })

                                    </script>
                                    <!-- ==================FAVORITE END=================== -->


                                    {% if perms.bible.change_verse %}
                                        <a href="{% url 'bible:verse-update' book.id chapter.id verse.id  %}" 
                                            class="ui compact icon right floated button">
                                            <i class="edit icon"></i>
                                        </a>
                                        <a href="{% url 'bible:verse-delete' book.id chapter.id verse.id  %}" 
                                            class="ui compact icon right floated button">
                                            <i class="trash icon"></i>
                                        </a>
                                    {% endif %}
                                {% endif %}
                                {{ verse.number }}
                            </div>
                            <div class="two column row">

                                <a class="original-text column" href="{% url 'bible:verse-detail' book.id chapter.id verse.id %}">
                                    <p>{{ verse.original_text }}</p>
                                </a>
                                <a class="greek-translation column" href="{% url 'bible:verse-detail' book.id chapter.id verse.id %}">
                                    <p><em>{{ verse.greek_translation }}</em></p>
                                </a>
                            </div>
                        </div>
                
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h2>Δεν υπάρχουν στίχοι για το κεφάλαιο αυτό.</h2>
            {% if perms.bible.add_verse %}
                <a href="{% url 'bible:verse-create' book.id chapter.id %}">
                        Ευκαιρία να προσθέσετε νέο στίχο!
                </a>
            {% endif %}
        {% endif %}
    </main>
{% endblock body %}