{% extends "bible/base.html" %} 
{% load static i18n %}

{% block title %} Dashboard {% endblock title %} 

{% block leftColumn %}
{% endblock leftColumn %} 

{% block body %} 

{# FAVORITES ======================================= #}
{# see DisplayFavoritesView #}
<div class="ui text container">
    {# ========= CONTINUE READING ========== #} 
    {% if continue_reading_url %}
        <p>
            <a class="ui button" href="{{ continue_reading_url }}">
                {% trans 'Continue reading from last visited page' %}
            </a>
        </p>
    {% else %}
        <h2>Το dashboard είναι άδειο</h2>
    {% endif %}

 

    
</div>

{% endblock body %}}