{% extends "bible/base.html" %}
{% load i18n %}

{% block body %}
{% if error_message %}
<p>
    <strong>{{ error_message }}</strong>
</p>
{% endif %}

<div class="ui text container">
    {# {% get_current_language as LANGUAGE_CODE %} #}
       {# <h1> {{ LANGUAGE_CODE }}</h1> #}
       
    <h2>Επικοινωνία</h2>
    <form method="post" class="ui form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <br>
        <button class="ui button primary" type="submit">{% trans 'Send email' %}</button>
    </form>

</div>

{% endblock body %}
