{% extends "bible/base.html" %} {% block title %} Book details {% endblock title %} {% block leftColumn %}

<div class="ui one cards">
    <div class="card">
        <a href="{% url 'bible:index' %}" class="image">
            <img src="{{ book.image.url }}">
        </a>
        <div class="content">
            <div class="header">TITLE</div>
            <div class="meta">
                <div>META</div>
            </div>
        </div>
    </div>
</div>
{% endblock leftColumn %} {% block body %} {% comment %} FAVORITES {% endcomment %}
<div class="ui text container">
    {# ========= BOOKS ========== #}
    {% if fav_books_list %}
        <h2>MY FAVORITES BOOKS</h2>
        <div class="ui one cards">
            {% for fav in fav_books_list %}
                <div class="card">
                    <div class="content">
                        <div class="header">
                            {% if user.is_authenticated and user.id == fav.user_id %}
                                <p>favorite book id: {{ fav.id }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h2>No Favorites Books to display</h2>
    {% endif %}

    {# ========= CHAPTERS ========== #}
    {% if fav_books_list %}
        <h2>MY FAVORITES CHAPTERS</h2>
        <div class="ui one cards">
            {% for fav in fav_chapters_list %}
                <div class="card">
                    <div class="content">
                        <div class="header">
                            {% if user.is_authenticated and user.id == fav.user_id %}
                                <p>favorite chapter id: {{ fav.id }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h2>No Favorites Chapters to display</h2>
    {% endif %}

    {# ========= VERSES ========== #}
    {% if fav_verses_list %}
        <h2>MY FAVORITES VERSES</h2>
        <div class="ui one cards">
            {% for fav in fav_verses_list %}
                <div class="card">
                    <div class="content">
                        <div class="header">
                            {% if user.is_authenticated and user.id == fav.user_id %}
                                <p>favorite verse id: {{ fav.id }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h2>No Favorites Verses to display</h2>
    {% endif %}

    {# ========= ANNOTATIONS ========== #}
    {% if fav_annotations_list %}
        <h2>MY FAVORITES ANNOTATIONS</h2>
        <div class="ui one cards">
            {% for fav in fav_annotations_list %}
                <div class="card">
                    <div class="content">
                        <div class="header">
                            {% if user.is_authenticated and user.id == fav.user_id %}
                                <p>favorite annotation id: {{ fav.id }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h2>No Favorites Annotations to display</h2>
    {% endif %}





</div>

{% endblock body %}}