{% extends "bible/base.html" %} 
{% block title %} Αγαπημένα {% endblock title %} 

{% block leftColumn %}

<div class="ui one cards">
    <div class="card">
        <a href="{% url 'bible:index' %}" class="image">
            <img src="{{ book.image.url }}">
        </a>
        <div class="content">
        <div class="header">
            Γεια σου {{ user.get_username }}!
        </div>
            <div class="meta">
                <div>Αυτή η σελίδα εμφανίζει τα αγαπημένα σου βιβλία,
                    κεφάλαια, στίχους και υπομνηματισμούς που έχεις επισημάνει ως "αγαπημένα"
                    κάνοντας κλικ στο εικονίδιο με το αστέρι.
                </div> 
            </div>
        </div>
    </div>
</div>
{% endblock leftColumn %} 

{% block body %} 
{# FAVORITES ======================================= #}
{# see DisplayFavoritesView #}
<div class="ui text container">
    {# ========= BOOKS ========== #} 
    {% if favorite_books %}
        <h2>Τα Αγαπημένα μου Βιβλία</h2>
        <div class="ui two doubling link cards">
            {%for book in favorite_books%}
                <div class="card">
                    <div class="content">
                            {% if user.is_authenticated  %}
                                <a href="{% url 'bible:book-detail' book.id %}">{{book.title}}</a>
                            {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h2>Δεν υπάρχουν αγαπημένα βιβλία</h2>
    {% endif %}

 
    {# ========= CHAPTERS ========== #}
    {% if favorite_chapters %}
        <h2>Τα Αγαπημένα μου Κεφάλαια</h2>
        <div class="ui two doubling link cards">
            {%for chapter in favorite_chapters%}
                <div class="card">
                    <div class="content">
                            {% if user.is_authenticated  %}
                                <a href="{% url 'bible:chapter-detail' chapter.book_id chapter.id %}">
                                    {{chapter.book}} <br />
                                    <strong>ΚΕΦΑΛΑΙΟ: {{chapter.number}} </strong><br />
                                    <em>{{chapter.title}}</em>
                                </a>
                            {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h2>Δεν υπάρχουν αγαπημένα κεφάλαια</h2>
    {% endif %}

    {# ========= VERSES ========== #}
    {% if favorite_verses %}
    <h2>Οι Αγαπημένοι μου στίχοι</h2>

        <div class="ui two doubling link cards">
            {% for verse in favorite_verses %}
                <div class="card">
                    <div class="content">
                                {% if user.is_authenticated %}
                                <a href="{% url 'bible:verse-detail' verse.chapter.book_id verse.chapter_id verse.id %}">
                                    {{verse.chapter.book}} <br />
                                    Κεφάλαιο: {{verse.chapter}} <br /><br />
                                    <strong> ΣΤΙΧΟΣ: {{verse.number}} </strong><br />
                                    <em> {{verse.original_text}}</em>
                                </a>
                            {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h2>Δεν υπάρχουν αγαπημένοι στίχοι</h2>
    {% endif %}

     {# ========= ANNOTATIONS ========== #}
     {% if favorite_annotations %}
     <h2>Οι Αγαπημένοι μου Υπομνηματισμοί</h2>
     
     <div class="ui two doubling link cards">
         {% for annotation in favorite_annotations %}
         <div class="card">
             <div class="content">
                {% if user.is_authenticated %}
                    {# there is no detail view, fall back to chapter detail view #}
                    <a href="{% url 'bible:verse-detail'  annotation.verse.chapter.book_id  annotation.verse.chapter_id annotation.verse_id  %}">
                        {{annotation.verse.chapter.book}} <br />
                        Κεφάλαιο: {{annotation.verse.chapter}} <br />
                        Στίχος: {{annotation.verse}} <br /><br />
                        <strong> ΥΠΟΜΝΗΜΑΤΙΣΜΟΣ: {{annotation.number}} <br />
                        <em>{{annotation.phrase}}</em></strong>
                    </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
     <h2>Δεν υπάρχουν αγαπημένοι υπομνηματισμοί</h2>
    {% endif %}






</div>

{% endblock body %}}