{% extends "bible/base.html" %}
{% block body %} 

{% if all_books %} {# all_books is returned from the view #}
    <!--
        the default django variable object_list 
        could be used instead of all_books 
        but it is overriden in the views.py
        IndexView :) 
    -->


    <div class="ui four doubling link cards">

        {% for book in all_books %}

            <div class="card">
                <a class="image" href="{% url 'bible:book-detail' book.id %}">
                    <img src="{{ book.image.url }}">
                </a>
                <a class="item" href="{% url 'bible:book-detail' book.id %}">

                    <div class="content">

                        <div class="header">{{ book.title }}</div>
                        <div class="meta">
                            <a>{{ book.writer }}</a>
                        </div>
                    </div>

                    {# DEBUG #}
                    {% if user.is_superuser %}
                        <div id="debug{{ book.id }}"></div>
                    {% endif %}

                        {% if user.is_authenticated  %}
                            <div class="extra content">
                                <!-- ==================FAVORITE STAR=================== -->
                                <i class="star outline  icon" 
                                id="favoriteStar{{ book.id }}"
                                ></i>
                                
                                <!-- FAVORITE CHECK -->
                                <!--loop through bookFavorite records -->
                                <!--if fav raw exists, make star black -->
                                {% for fav in favorite_books %}
                                    {% if fav.user_id == user.id and fav.obj_id == book.id %}
                                        {% if user.is_superuser %}
                                            <script>
                                                document.getElementById('debug{{ book.id }}').innerHTML = "   <p> It is favorite! <br>Fav user_id: {{ fav.user_id }}: obj_id {{ fav.obj_id }}</p>"
                                            </script>
                                        {% endif %}
                                        <script>
                                            document.getElementById("favoriteStar{{ book.id }}").classList.remove("outline");
                                        </script>
                                    {% endif %} 
                                {% endfor %}

                                <script>
                                    document.getElementById("favoriteStar{{ book.id }}").addEventListener('click', function(){

                                        // note the trailing slash favorite/
                                        fetch("/book/{{ book.id }}/favorite/", {
                                                method: "put",
                                                credentials: "same-origin",
                                                headers: {
                                                    "X-CSRFToken": csrftoken,
                                                    "Accept": "application/json",
                                                    "Content-Type": "application/json"
                                                },
                                                body: JSON.stringify({
                                                    "user_id" : {{ user.id }},
                                                    "obj_id" : {{ book.id }}
                                                })
                                            })
                                            .then(response => response.json())
                                            .catch(error => {
                                                console.log("favorite does not exist, create a new one", error);
                                            });

                                        // toggle outside fetch because
                                        // put creates error if db row does not exist
                                        // so paint is not executed
                                        // if placed in next then(), as we should...
                                        document.getElementById("favoriteStar{{ book.id }}").classList.toggle("outline")
                                    })

                                </script>
                                <!-- ==================FAVORITE END STAR=================== -->


                                <!--...and if the user has edit rights -->
                                {% if perms.bible.change_book %} 
                                    <a href="{% url 'bible:book-update' book.id  %}" 
                                        class="ui compact icon  button">
                                        <i class="edit icon"></i>
                                    </a>
                                    <a href="{% url 'bible:book-delete' book.id  %}" 
                                        class="ui compact icon right floated button">
                                        <i class="trash icon"></i>
                                    </a>
                               {% endif %}
                            </div>
                        {% endif %}
                        </a>



                {# DEBUG #}
                {% if user.is_superuser %}
                    <div class="content">
                        <h2>DEBUG</h2>
                        <ul>
                            <li>username: {{ user.username }}</li>
                            <li>user id: {{ user.id }}</li>
                            <li>book id: {{ book.id }}</li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% else %} 
    no books to display
{% endif %} 


{% endblock body %} 
