{% extends "bible/base.html" %} 
{% load static i18n %}

{% block title %} {% trans 'Search' %} {% endblock title %} 

{% block leftColumn %}

{% endblock leftColumn %} 

{% block body %} 
    <form class="ui form large inline" action="" method="GET" style="margin-bottom:2rem">
        <div class="field">
            <div class="field">
                <input type="text" name="q" value="{{ query }}" placeholder="{% trans 'Search books, chapters, verses and annotations'%}">
            </div>
            <div>
                <button class="ui button primary" type="submit">{% trans 'Search' %}</button>
            </div>
        </div>
    </form>


{# SEARCH RESULTS ======================================= #}
{# see search view #}
<div class="ui text container">
    {# ========= BOOKS ========== #} 
    {% if books_filtered %}
        <h2>
            <i class="circular inverted  book icon"></i>
            Βρέθηκαν βιβλία: {{ books_filtered|length }}
        </h2>
        <div class="ui two doubling link cards">
            {% for book in books_filtered %}
                <div class="card">
                    <div class="content">
                        <div class="ui bottom right attached label">
                            {% trans 'Book' %}
                        </div>
                        <a href="{% url 'bible:book-detail' book.id %}">{{book.title}}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {# ========= CHAPTERS ========== #}
    {% if chapters_filtered %}
        <h2><i class="circular inverted file alternate outline icon"></i>
            Βρέθηκαν κεφάλαια: {{ chapters_filtered|length }}
        </h2>
        <div class="ui two doubling link cards">
            {% for chapter in chapters_filtered %}
                <div class="card">
                    <div class="content">
                        <div class="ui bottom right attached label">
                            {% trans 'Chapter' %}
                        </div>
                        <a href="{% url 'bible:chapter-detail' chapter.book_id chapter.id %}">
                            {{chapter.book}} <br />
                            <strong>ΚΕΦΑΛΑΙΟ: {{chapter.number}} </strong><br />
                            <em>{{chapter.title}}</em>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {# ========= VERSES ========== #}
    {% if verses_filtered %}
        <h2><i class="circular inverted list ol icon"></i> 
            Βρέθηκαν στίχοι: {{ verses_filtered|length }}
        </h2>
        
        <div class="ui two doubling link cards">
            {% for verse in verses_filtered %}
                <div class="card">
                    <div class="content">
                        <div class="ui bottom right attached label">
                            {% trans 'Verse' %}
                        </div>
                        <a href="{% url 'bible:verse-detail' verse.chapter.book_id verse.chapter_id verse.id %}">
                            {{verse.chapter.book}} <br />
                            Κεφάλαιο: {{verse.chapter}} <br /><br />
                            <strong> ΣΤΙΧΟΣ: {{verse.number}} </strong><br />
                            <em> {{verse.original_text}}</em>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {# ========= ANNOTATIONS ========== #}
    {% if annotations_filtered %}
        <h2><i class="circular inverted info icon"></i> 
            Βρέθηκαν υπομνηματισμοί: {{ annotations_filtered|length }} 
        </h2>
        
        <div class="ui two doubling link cards">
            {% for annotation in annotations_filtered %}
                <div class="card">
                    <div class="content">
                        {# there is no detail view, fall back to chapter detail view #}
                        <div class="ui bottom right attached label">
                            {% trans 'Annotation' %}
                        </div>
                        <a href="{% url 'bible:verse-detail'  annotation.verse.chapter.book_id  annotation.verse.chapter_id annotation.verse_id  %}">
                            {{annotation.verse.chapter.book}} <br />
                            Κεφάλαιο: {{annotation.verse.chapter}} <br />
                            Στίχος: {{annotation.verse}} <br /><br />
                            <strong> ΥΠΟΜΝΗΜΑΤΙΣΜΟΣ: {{annotation.number}} <br />
                            <em>{{annotation.phrase}}</em></strong>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

</div>

{% endblock body %}}