{% extends "bible/base.html" %}

{% block leftColumn %}
{% endblock leftColumn %}

{% block body %}
    {% if error_message %}
        <p>
            <strong>{{ error_message }}</strong>
        </p>
    {% endif %}

    <div class="ui text container">
        <form class="ui form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                {{ form.as_p }}
            <br><br>
                <button class="ui button primary" type="submit">Προσθήκη Στίχου</button>
        </form>
    </div>

{% endblock body %}