{% extends "bible/base.html" %}
{% block title %}
    Στίχος {{verse.number}}
{% endblock title %}

{% block leftColumn %}
    <aside class="ui dividing">
        <div class="ui sticky top">

            <!-- BUTTON ADD ANNOTATION -->
            {% if perms.bible.add_annotation %} 
                <a class="item" href="{% url 'bible:annotation-create' book.id chapter.id verse.id %}">
                    <div class="ui primary button" style="margin:20px 0 1rem">
                        <i class="add icon"></i>
                        Προσθήκη Υπομνηματισμού
                    </div>
                </a>
            {% endif %}    


            {# BOOK #}
            <div class="ui styled fluid fluid accordion" style="margin-top:60px;">
                <div class="title">
                    <i class="dropdown icon  "></i>
                    ΒΙΒΛΙΟ
                </div>
            
                <div class="content ui card">
            
                    {# <a href="{% url 'bible:index' %}" class='image'> #}
            
                    <div class="image">
            
                        <img src="{{ book.image.url }}">
                    </div>
                    {# </a> #}
                    <div style="font-weight: 800;padding: 8px;">
                        {{ book.title }}
                    </div>
                    <div style="padding:0 8px">
                        <div>
                            {{ book.writer }}
                        </div>
                    </div>
                </div>
            </div>

            <br />
            {# CHAPTER DETAILS  #}
            <div>
                <div class="ui styled fluid accordion">
                    <div class="title">
                        <i class="dropdown icon"></i>
                        ΚΕΦΑΛΑΙΟ
                    </div>
    
                    <div class="content">
                        <h3>ΚΕΦΑΛΑΙΟ {{chapter.number}}</h3>
                        <div class="meta">
                            <div>{{ chapter.title }}</div>
                        </div>
                                
                        {# TAGS #}
                        {% if chapter.tags.all %}
                            <div class="content">
                                {% for tag in chapter.tags.all %}
                                    <div class="ui label mini right floated">
                                        {{ tag.name }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <br />
            {# VERSE DETAILS  #}
            <div>
                <div class="ui styled fluid accordion">
                    <div class="title active">
                        <i class="dropdown icon"></i>
                        ΛΕΠΤΟΜΕΡΕΙΕΣ ΣΤΙΧΟΥ
                    </div>
    
                    <div class="content active">
                        <h3>ΣΤΙΧΟΣ {{verse.number}}</h3>
                        <div>
                            <i class="info icon"></i>
                            {{ verse.original_text }}
                        </div>
                        <div>
                            <i class="info icon"></i>
                            {{verse.greek_translation}}
                        </div>

                        {# TAGS #}
                        {% if verse.tags.all %}
                            <div class="content">
                                {% for tag in verse.tags.all %}
                                <div class="ui label mini right floated">
                                    {{ tag.name }}
                                </div>
                                {% endfor %}
                            </div>
                        {% endif %}

                        <!-- FAVORITE -->
                        {% if user.is_authenticated %}
                            <div>
                                <i class="star outline icon" 
                                    id="favVerse{{ verse.id }}"
                                    onclick="favoriteBook()"
                                    
                                ></i>
                            </div>
                    
                        {% endif %}
                    </div>
                </div>
            </div>

            <!--======================== FAVORITE ===============-->
            {% if user.is_authenticated %}
                
                <script>

                    const favstar = document.getElementById("favVerse{{ verse.id }}") 

                    function favoriteBook() {
                        console.log('favorite button clicked')
                        // note the trailing slash favorite/
                        const url = "/verse/{{ verse.id }}/favorite/";
                        
                        // what to pass to db
                        let json_data = {
                            'user_id': {{user.id}},
                            'obj_id': {{verse.id}}
                        }

                        let fetch_data = {
                            method: "put",
                            credentials: "same-origin",
                            headers: {
                                "X-CSRFToken": window.csrftoken,
                                "Accept": "application/json",
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify(json_data)
                        }

                        fetch(url, fetch_data)
                        .then(response =>   response.json())
                        .catch(error => {
                            console.log("favorite does not exist, create a new one", error);
                        });
                        
                        // toggle outside fetch because
                        // put creates error if db row does not exist
                        // so paint is not executed
                        // if placed in next then(), as we should...
                        favstar.classList.toggle("outline")
                    }
                    
                    function toggleFavorite(){
                        favstar.classList.toggle("outline")
                    }
                    
                    // update the favorite
                    document.addEventListener("DOMContentLoaded", function (event) {
                        if ("{{ favorite.id }}") {
                        toggleFavorite()
                        }
                    });

                </script>            
            {% endif %}
            <!--======================== FAVORITE END ===============-->   

                <br />
    
                {# VERSES NAVIGATION #}
                <div class="ui styled fluid accordion">
                    {% for verseX in chapter.verse_set.all %}
                        <div class="title {% if verseX.number == verse.number %} active {% endif %} ">
                            <i class="dropdown icon"></i>
                            ΣΤΙΧΟΣ {{verseX.number}}
                        </div>
                        <div class="content {% if verseX.number == verse.number %} active {% endif %} ">
                            <a href="{% url 'bible:verse-detail' book.id chapter.id verseX.id %}">
                                <div>
                                    <i class="info icon"></i>
                                    {{ verseX.original_text }}
                                </div>
                                <div>
                                    <i class="info icon"></i>
                                    {{verseX.greek_translation}}
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>




    </aside>

{% endblock leftColumn %}

{% block body %}
    <main class="ui text container">

        {# RIGHT RAIL #}
        <div class="ui dividing right rail mobile hidden tablet hidden">
            <div class="ui sticky top">
                <div class="ui vertical following fluid accordion text menu">
                    {% for annotation in verse.annotation_set.all %}
                    <a href="#annotation{{ annotation.number }}" 
                        id="railAnnotationItem{{ annotation.number }}"
                        class="item">{{ annotation.number }} - {{ annotation.phrase}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>

        {# BREADCRUMB #}
        <div class="ui breadcrumb message ">
            <a class="section" href="{{ book.get_absolute_url }}">{{ book.title }}</a>
            <i class="right angle icon divider"></i>
        
            <a class="section" 
                href="{% url 'bible:chapter-detail' book.id chapter.id %}">ΚΕΦΑΛΑΙΟ {{ chapter.number }}
            </a>
            <i class="right angle icon divider"></i>

            <div class="section active">ΣΤΙΧΟΣ {{ verse.number }}</div>
        </div>

        {% if verse.annotation_set.all %}
            {# <h2>ANNOTATIONS</h2> #}
            <div id="annotations-list" class="ui divided items">
                {% for annotation in verse.annotation_set.all %}
                    <div class="item">
                        <div class="content stackable ui grid">
                            
                            <div class="thirteen wide column">
                                <div id="annotation{{ annotation.number }}">
                                    <div style="font-size: 1.5rem;font-weight: 800;" class="title">
                                        {{ annotation.number }} - {{ annotation.phrase}}
                                    </div>

                                    <div class="description">
                                        {{ annotation.annotation }}
                                    </div>
                                </div>
                            </div>


                            <div class="one wide column">
                                {% if user.is_authenticated %}

                                    <!-- ==================FAVORITE CHAPTER STAR=================== -->
                                    <i class="star outline large icon ui compact right floated" 
                                        style="margin: 0.5rem" 
                                        id="favAnnotationStar{{ annotation.id }}"
                                    ></i>
                                    
                                    <!-- FAVORITE CHECK -->
                                    <!--loop through chapterFavorite records -->
                                    <!--if fav raw exists, make star black -->
                                    {% for fav in favorite_annotations %}
                                        {% if fav.user_id == user.id and fav.obj_id == annotation.id %}
                                            <script>
                                                document.getElementById("favAnnotationStar{{ annotation.id }}").classList.remove("outline");
                                            </script>
                                        {% endif %} 
                                    {% endfor %}

                                    <script>
                                        // when document load display the status of stars
                                        document.getElementById("favAnnotationStar{{ annotation.id }}").addEventListener('click', function(){

                                            // note the trailing slash favorite/
                                            fetch("/annotation/{{ annotation.id }}/favorite/", {
                                                    method: "put",
                                                    credentials: "same-origin",
                                                    headers: {
                                                        "X-CSRFToken": window.csrftoken,
                                                        "Accept": "application/json",
                                                        "Content-Type": "application/json"
                                                    },
                                                    body: JSON.stringify({
                                                        "user_id" : {{ user.id }},
                                                        "obj_id" : {{ annotation.id }}
                                                    })
                                                })
                                                .then(response => response.json())
                                                .catch(error => {
                                                    console.log("favorite does not exist, create a new one", error);
                                                });

                                            // toggle outside fetch because
                                            // put creates error if db row does not exist
                                            // so paint is not executed
                                            // if placed in next then(), as we should...
                                            document.getElementById("favAnnotationStar{{ annotation.id }}").classList.toggle("outline")
                                        })

                                    </script>
                                    <!-- ==================FAVORITE END=================== -->
                                    
                                    <!--...and if the user has edit rights -->

                                    {# BUTTONS COLUMN #}
                                    {% if perms.bible.change_annotation %} 
                                        <a href="{% url 'bible:annotation-update' book.id chapter.id verse.id annotation.id  %}" 
                                           class="ui compact icon right floated" style="margin: 0.5rem 0">
                                            <i class="edit icon bordered inverted blue"></i>
                                        </a>
                                        <a href="{% url 'bible:annotation-delete' book.id chapter.id verse.id annotation.id  %}" 
                                            class="ui compact icon right floated" style="margin: 0.5rem 0">
                                            <i class="trash icon bordered inverted red"></i>
                                        </a>
                                    {% endif %} 
                                {% endif %}
                            </div>
                            
                            {# TAGS #}
                            {% if annotation.tags.all %}
                                <div class="one wide column">
                                    {% for tag in annotation.tags.all %}
                                        <div class="ui label mini">
                                            {{ tag.name }}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            
                        </div>
                        

                    </div> {# end item#}
                {% endfor %}
            </div>
            
        {% else %}
            <h2>Δεν υπάρχουν υπομνηματισμοί για το στίχο αυτό</h2>
                        {% if perms.bible.add_annotation %} 
                <!-- BUTTON -->
                <a class="item" href="{% url 'bible:annotation-create' book.id chapter.id verse.id %}">
                    Ευκαιρία να προσθέσετε νέο Υπομνηματισμό!
                </a>
            {% endif %}    

        {% endif %}


        {# CHAPTERS NAVIGATION #}
        <div>
            <div class="ui pagination menu">
                {% if prev_verse %}
                    <a class="item" 
                        href="{% url 'bible:verse-detail' book.id chapter.id prev_verse.id %}">
                        <i class=" icon chevron left"></i> {{prev_verse.number}}
                    </a>
                {% endif %}
                    <div class="item active">
                        ΣΤΙΧΟΣ {{verse.number}}
                    </div>
                {% if next_verse %}
                    <a class="item"
                        href="{% url 'bible:verse-detail' book.id chapter.id next_verse.id %}">
                        {{next_verse.number}} <i class=" icon chevron right"></i>
                    </a>
                {% endif %}
            </div>
        </div>





    </main>
    


    {% endblock body %}

{% block current_footer %}
    <script>
        $('.ui.sticky')
            .sticky({
                context: '#annotations-list'
            })
        ;
        
        $('.ui.accordion')
            .accordion()
        ;
    </script>

{% endblock current_footer %}