body {
    background-color: rgb(248, 248, 248);
}

main {
  margin-bottom: 4rem;
}

h1, h2, h3, h4, h5, h6,
.header,
.title,
.step {
  font-family: 'Fira Sans Condensed', sans-serif;
}


.header {
  margin-bottom: 0.5rem;
}


.ui.breadcrumb {
    margin-bottom: 2rem;
}

form span {
    font-style: italic;
}

label {
    font-weight: 800;
}

.ui.attached.button {
    background-color: green;
    color: white;
}

/* Semantic UI has these classes, however they're only applicable to*/
/* grids, containers, rows and columns.*/
/* plus, there isn't any `mobile hidden`, `X hidden` class.*/
/* this snippet is using the same class names and same approach*/
/* plus a bit more but to all elements.*/
/* see https://github.com/Semantic-Org/Semantic-UI/issues/1114*/

/* Mobile */
@media only screen and (max-width: 767px) {
  [class*="mobile hidden"],
  [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile),
  [class*="large screen only"]:not(.mobile),
  [class*="widescreen only"]:not(.mobile),
  [class*="or lower hidden"] {
    display: none !important;
  }
}

/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  [class*="mobile only"]:not(.tablet),
  [class*="tablet hidden"],
  [class*="computer only"]:not(.tablet),
  [class*="large screen only"]:not(.tablet),
  [class*="widescreen only"]:not(.tablet),
  [class*="or lower hidden"]:not(.mobile) {
    display: none !important;
  }
}

/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  [class*="mobile only"]:not(.computer),
  [class*="tablet only"]:not(.computer),
  [class*="computer hidden"],
  [class*="large screen only"]:not(.computer),
  [class*="widescreen only"]:not(.computer),
  [class*="or lower hidden"]:not(.tablet):not(.mobile) {
    display: none !important;
  }
}

/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  [class*="mobile only"]:not([class*="large screen"]),
  [class*="tablet only"]:not([class*="large screen"]),
  [class*="computer only"]:not([class*="large screen"]),
  [class*="large screen hidden"],
  [class*="widescreen only"]:not([class*="large screen"]),
  [class*="or lower hidden"]:not(.computer):not(.tablet):not(.mobile) {
    display: none !important;
  }
}

/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
  [class*="mobile only"]:not([class*="widescreen"]),
  [class*="tablet only"]:not([class*="widescreen"]),
  [class*="computer only"]:not([class*="widescreen"]),
  [class*="large screen only"]:not([class*="widescreen"]),
  [class*="widescreen hidden"],
  [class*="widescreen or lower hidden"] {
    display: none !important;
  }
}

.sz-visible {
  display: block;
}

.large-number {
  font-size: 25px;
  font-weight: 900;
  font-style: normal;
  line-height: 1.2;
  color: #666;
}

/* //////////////////// CSS GRID LAYOUT */
/* .grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

}

.grid-aside {
  grid-column-start: 1;
  grid-column-end: 2;
}

.grid-main {
  grid-column-start: 2;
  grid-column-end: 3;
}

.grid-right-side {
  grid-column-start: 3;
  grid-column-end: 4;
} */

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

.red {
  background-color: red !important;
}

.footer.segment {
    padding: 5em 0em;
}