{% extends "bible/base.html" %}
{% load i18n %}

{% block body %}

    <div class="ui text container">
{% if validlink %}
    <h1>{% trans 'Change Password' %}</h1>
    <form method="POST" class="ui form">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="ui button primary" type="submit">{% trans 'Change Password' %}</button>
    </form>
    {% else %}
    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.{% endblocktrans %}</p>
    <p>{% blocktrans %}Please request a new password reset.{% endblocktrans %}</p>
        
    
    {% endif %}

{% endblock body %}